# compiled output
/dist
/tmp
/out-tsc
/.angular/cache

# dependencies
/node_modules

# IDEs and editors
/.idea
/.project
/.vscode
*.sublime-workspace
.history/*

# misc
/.sass-cache
/coverage

# System Files
.DS_Store
Thumbs.db
