<div class="bg-white border-bottom">
  <div class="container jumbotron rounded-0 bg-white mb-0">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <img src="https://via.placeholder.com/150" class="rounded-circle" />
          </div>
          <div class="col-8">
            <div class="row">
              <profile-section-container
                class="col-12"
                *ngFor="let label of getTopLabels()"
                [label]="label"
                [data]="getData(label)"
                [profileType]="profileType"
              >
              </profile-section-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-tabs border-bottom-0">
      <li class="nav-item">
        <a class="nav-link active" href="./">프로필</a>
      </li>
    </ul>
  </div>
</div>
<div>
  <div class="container">
    <div class="row justify-content-center pt-3">
      <profile-section-container
        class="col-12 col-md-6 col-lg-4"
        *ngFor="let label of getBottomLabels()"
        [label]="label"
        [data]="getData(label)"
        [profileType]="profileType"
      >
      </profile-section-container>
    </div>
  </div>
</div>
