<div class="bg-primary text-white">
  <div class="container jumbotron rounded-0 bg-primary">
    <h1 class="display-5 mb-4">계정 정보</h1>
    <p class="lead">
      확인하시고 수정이 필요한 곳은 업데이트 해주세요.
    </p>
    <p class="lead">
      또한 비밀번호 보안에 신경써주시길 부탁드립니다.
    </p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div id="auth-account-form-wrap" class="col-12 col-sm-9 col-md-6 col-lg-4 p-4">
    <form class="row">
      <label class="col-12" for="input-email">이메일</label>
      <div class="col-12">
        <div class="form-group input-group btn-group d-flex">
          <input type="text" id="input-email" class="form-control mr-auto" placeholder="email">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">변경</button>
          </div>
        </div>
      </div>
    </form>
    <form class="row">
      <label class="col-12" for="input-password">비밀번호</label>
      <div class="col-12">
        <div class="form-group input-group btn-group d-flex">
          <input type="text" id="input-password" class="form-control mr-auto" placeholder="password">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">변경</button>
          </div>
        </div>
      </div>
    </form>
    <form class="row">
      <label class="col-12" for="input-phone-number">휴대폰 번호</label>
      <div class="col-12">
        <div class="form-group input-group btn-group d-flex">
          <input type="number" id="input-phone-number" class="form-control" placeholder="Phone Number">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-block">변경</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
