<div class="form-group input-group btn-group">
  <select
    [formControl]="getFormCtrl('residenceCountry')"
    [compareWith]="compareWith"
    (change)="countryChange()"
  >
    <option
      *ngFor="let country of countryList"
      [ngValue]="country.getRelations().residence"
    >
      {{ country.getAttrs().name }}
    </option>
  </select>
  <select
    [formControl]="getFormCtrl('residenceState')"
    [compareWith]="compareWith"
  >
    <option
      *ngFor="let state of stateList"
      [ngValue]="state.getRelations().residence"
    >
      {{ state.getAttrs().name }}
    </option>
  </select>
</div>
